<!DOCTYPE html>
<html>
<head>
  <title>Spitfire</title>
  <link href="https://fonts.googleapis.com/css?family=Proxima Nova" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'micfire.png' %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
